## YAML Template.
---
Kafka:
   zkHosts: "nn1.netangels.net:2181,nn2.netangels.net:2181,rm1.netangels.net:2181"       
   topic: "errors"
   zkRoot: "/storm_oddeye"
   zkKey: "oddeye-staus"   
   
Tsdb:
  zkHosts: "nn1.netangels.net:2181,nn2.netangels.net:2181,rm1.netangels.net:2181"   
  metatable: test_oddeye-meta
  errorstable: test_oddeye-errors
  errorshistorytable: test_oddeye-error-history
  tsd.core.auto_create_metrics: false
  tsd.storage.enable_compaction: false
  tsd.storage.hbase.data_table: test_tsdb
  tsd.storage.hbase.uid_table: test_tsdb-uid
   
Topology:    
    topologi.display.name: "NotifierTopology"
    NumWorkers: 3
    SpoutParallelism_hint: 1
    ParseMetricBoltParallelism_hint: 2
    Debug: false
    DisableCheck: false
    topology.message.timeout.secs: 30
    
